
#gameDisplay{
    background-color: black;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:90vw;
    max-width: 800px;
    height: 400px;
    min-height: 30rem;
    margin: auto;
    text-align: center;
    padding: 15px;
    overflow-y: scroll;
}

span.score {
    color: greenyellow;
}

span.winner {
    color:rgb(241, 184, 28);
    font-weight: 900;
    text-transform: uppercase;
}

#playRound {
    text-align: center;
}

#playRound > button{
    margin:20px 10px;
    padding: 10px;
    font-size: 2rem;
    cursor:pointer;
}